<div class="row" ng-hide="!error"><div class="col-lg-12">

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Error</h3>
    </div>
    <div class="panel-body">
      {{error}}
    </div>
  </div>

</div></div><div class="row">

  <form ng-submit="push()" role="form">
    <div class="col-lg-6">

      <div class="form-group">
	<label>User ID</label>
	<input class="form-control" tabindex="1" ng-model="data[uid].uid" ng-disabled="uid">
      </div>

      <div class="form-group">
	<label>Password</label>
	<input type="password" class="form-control" tabindex="3" ng-model="data[uid].pass">
      </div>

      <button type="submit" class="btn btn-default" tabindex="5" >Submit</button>
      <a class="btn btn-default" href="#/admin/agents">Clear</a>

    </div><div class="col-lg-6">

      <div class="form-group">
	<label>Name</label>
	<input class="form-control" tabindex="2" ng-model="data[uid].name">
      </div>

      <div class="form-group">
	<label>Extn</label>
	<input class="form-control" tabindex="4" ng-model="data[uid].extn">
      </div>

    </div>

  </form>

</div><div class="row"><hr>

  <table class="table table-hover">
    <thead>
      <tr>
	<th>User ID</th>
	<th>Name</th>
	<th>Extn</th>
	<th></th>
	</tr>
    </thead>
    <tbody ng:repeat="(u,i) in data">
      <tr>
	<td>{{i.uid}}</tbd>
	<td>{{i.name}}</td>
	<td>{{i.extn}}</td>
	<td class="col-md-1">
	  <a class="btn btn-info"   ng-href="#/admin/agent/{{i.uid}}"><i class="fa fa-pencil-square-o"></i></a>
	  <a class="btn btn-danger" ng-click="purge(i.uid)"><i class="fa fa-times"></i></a>
	</td>
      </tr>
    </tbody>
  </table>
</div>
