<div class="row" ng-hide="!error"><div class="col-lg-12">

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Error</h3>
    </div>
    <div class="panel-body">
      {{error}}
    </div>
  </div>

</div></div><div class="row">

  <form ng-submit="push()" role="form">
    <div class="col-lg-6">

      <div class="form-group">
	<label>DID</label>
	<input class="form-control" tabindex="1" ng-model="data[uid].did" ng-disabled="uid">
      </div>

      <div class="form-group">
	<label>To</label>
	<select class="form-control" tabindex="2" ng-model="data[uid].act">
	  <option>Queue</option>
	  <option>User</option>
	  <option>Extension</option>
	</select>
      </div>

      <button type="submit" class="btn btn-default" tabindex="5" >Submit</button>
      <a class="btn btn-default" href="#/admin/agents">Clear</a>

    </div><div class="col-lg-6">

    </div>

  </form>

</div><div class="row"><hr>

  <table class="table table-hover">
    <thead>
      <tr>
	<th class="col-md-2">DID</th>
	<th class="col-md-3">To</th>
	<th></th>
      </tr>
    </thead>
    <tbody ng:repeat="(u,i) in data">
      <tr>
	<td>{{i.did}}</tbd>
	<td>{{i.act}}</td>
	<td class="col-md-1">
	  <a class="btn btn-info"   ng-href="#/Admin/Users/{{i.uid}}"><i class="fa fa-pencil-square-o"></i></a>
	  <a class="btn btn-danger" ng-click="purge(i.uid)"><i class="fa fa-times"></i></a>
	</td>
      </tr>
    </tbody>
  </table>
</div>
